# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
sql-top.exe
sql-top

# Test binary
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# IDE
.idea/
.vscode/
*.iml

# Environment variables
.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db
